@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  }

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}


@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim 1s forwards;
}



.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease-in-out;
}


.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%
}


#no_scroll::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0658F6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F7C04A;
  border-radius: 0px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3A1078;
}